nav{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  background-color: rgb(179, 196, 223);
  border-radius: 10px;
  padding: 20px;

}
ul{
  gap: 1.2rem;
  flex-wrap: wrap;
}
.nav-link{
  font-weight: bolder;
  transition: 0.2s ease-in;
}
.nav-link:hover{
  background-color: rgb(245, 246, 257);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  
}